*,body,html{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #777;
}

h1
{
	font-size: 37px;
	color: #555;
	font-weight: bold;
}

.center
{
	text-align: center;
}

h2
{
	font-size: 37px;
	color: #555;
	font-weight: bold;
}

h3
{
	font-size: 24px;
	color: #333;
	font-weight: bold;
	margin-left: 300px;
}


.primary
{
	color: #e74c3c;
}

.primary-bg
{
	background-color: #e74c3c;
}

.secondary-dark-blue
{
	color: #34495e;
}

.secondary-dark-blue-bg
{
	background-color: #34495e;
}

.secondary-sky-blue
{
	color: #2d82d8;
}

.secondary-sky-blue-bg
{
	background-color: #2d82d8;
}

.bg
{
	background-color: #f7f7f7;
}

ul
{
	list-style: none;
}
 
ul li 
 {
 	display: inline-block;
 }

a:focus
 {
 	outline: 0px;
 }

 .big-zindex{
 	z-index: 1000 !important;
 }