header
{
	color: #fff;
	height: 112px;
	line-height: 112px;
	position: fixed;
	width: 100%;
	top: 0;
	overflow: hidden;
}

header a.logo
{
	float: left;
}

header nav
{
	float: right;
	font-weight: bold;
}
header nav ul li 
{
	padding-left: 30px;
}

header nav ul li a
{
	color: #fff; 
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

header nav ul li a:hover, header nav ul li a:focus
{
	color: #e74c3c;
	text-decoration: none;
}

.news-container
{
  /*height: 174px;*/
  background-color: #fff;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 12px grey;
}

	
.news-title h4 a
{
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	font-size: 18px;
	color: black;
	font-weight: bold;
	
}

.news-title h4 a:hover
{
	color: #e74c3c;
	text-decoration: none;

}
.news-desc
{
}




.all-news
{
	padding-top: 136px;
}

.menu{
	margin-left: 20px; 
	margin-right: 20px; 
}